*/lcmtypes/c
*/lcmtypes/cpp
*/lcmtypes/java/*
*/lcmtypes/python/*
*/pod-build
bot2-lcmgl/java/src/bot_lcmgl/data_t.java
bot2-lcmgl/python/src/bot_lcmgl/data_t.py
bot2-procman/python/src/bot_procman/build_prefix.py
pod-build
bot2-lcmgl/python/src/bot_lcmgl/__init__.py
bot2-procman/python/src/bot_procman/__init__.py
